*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
target/
*.ipr
*.iws
*.log
*.class
.idea/
build/
*.orig
gradlew
gradlew.bat
gradle/*
keystore/*

*.ap